<template>
<section>
  <nav class="navbar is-light" role="navigation"
    aria-label="main navigation">
    <!-- Affichage du Logo -->
      <a href="/" class="navbar-item">
        <img src="images/ps5Controller.png" alt="Home"/>
      </a>
    <div class="navbar-brand" >
          <a role="button" class="navbar-burger" aria-label="menu"
             aria-expanded="false" data-target="navbarBasicExample"
             @click="showNav = !showNav" :class="{ 'is-active': showNav }">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
    </div>
      <div class="navbar-menu" :class="{ 'is-active': showNav }">
        <div class="navbar-start">
          <router-link class="navbar-item" to="/">Home</router-link>
          <!-- Link pour afficher les Jeux/ Genres/ Développeurs/ Plateformes -->
          <router-link class="navbar-item" to="/ListeJeux">Jeux</router-link>
          <router-link class="navbar-item" to="/Genres">Genres</router-link>
          <router-link class="navbar-item" to="/Developpeurs">Developpeurs</router-link>
          <router-link class="navbar-item" to="/Plateformes">Plateformes</router-link>
        </div>
      <SearchBar></SearchBar>
      </div>
      <NavBar></NavBar>
  </nav>
  </section>
</template>

<script>
import NavBar from './NavBar.vue';
import SearchBar from './SearchBar.vue';

export default {
  name: 'Menu',
  components: { NavBar, SearchBar },
  data() {
    return {
      items: null,
      showNav: false,
    };
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
  },
  watch: {
    $route() {
      this.getRoute();
    },
  },
  methods: {
    getRoute() {
      this.items = this.currentRouteName;
    },
    created() {
      this.getRoute();
    },
  },
};
</script>

<style scoped>
.hero-foot{
  padding-bottom: 2rem;
  padding-left: 20%;
}

.navbar{
  margin-bottom: 20px;
  padding-left: 40px;
  padding-top: 5px;
  background-color: rgb(247, 246, 187);
}

.navbar-link.is-active, .navbar-link:focus,
.navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active,
.a.navbar-item:focus, .a.navbar-item:focus-within, a.navbar-item:hover {
  background-color: #48C774 !important;
}
</style>
