<template>
<div>
  <div v-if="loginModal" class="modal is-active">
    <div class="modal-background" @click="loginModal = false"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title has-text-centered">Connexion</p>
        <!-- Bouton de Fermeture du Modal -->
        <button
          class="delete"
          aria-label="close"
          @click="loginModal = false"
        ></button>
      </header>

      <section class="modal-card-body">
        <div class="field">
          <h3 id="errorLogin" style="color: #ff0000; text-align: center">
            {{ this.messageError }}
          </h3>
        </div>

        <!-- Input pour l'Email de l'Utilisateur -->
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control has-icons-left">
            <input
            id="email"
            type="email"
            placeholder="johndoe@email.com"
            class="input" autocomplete="email"
            required=""
            v-model="email"/>
            <span class="icon is-small is-left">
              <img src="/images/email.png" alt="" />
            </span>
          </div>
        </div>

        <!-- Input pour le Mot de passe de l'Utilisateur -->
        <div class="field">
          <label for="password" class="label">Password</label>
          <div class="control has-icons-left">
            <input
              id="password"
              type="password"
              placeholder="******"
              class="input"
              required=""
              v-model="password"
            />
            <span class="icon is-small is-left">
              <img src="/images/lock.png" alt="" />
            </span>
          </div>
        </div>
        <!-- Bouton qui permet de faire la Connexion -->
        <div class="field">
          <button id="connexion" class="button is-success" v-on:click="login">
            Connexion
          </button>
          <button
            id="annuler"
            class="button is-danger"
            @click="loginModal = false"
          >
            Annuler
          </button>
        </div>
      </section>
      <!-- Link pour afficher le Sign Up -->
      <footer class="modal-card-foot">
        <span> Vous n'avez pas de compte?
        <router-link
          data-dismiss="modal"
          style="color: blue"
          to="/SignUp"
          v-on:click.native="loginModal = false"
          >Créer un compte</router-link
        >
        </span>
      </footer>
    </div>
  </div>
</div>
</template>

<script>
import VueJwtDecode from 'vue-jwt-decode';

export default {
  name: 'ModalLogin',
  components: {
  },
  data() {
    return {
      loginModal: false,
      email: '',
      password: '',
      messageError: '',
    };
  },
  methods: {
    showModalLogin() {
      this.loginModal = true;
    },

    async login() {
      const emailBody = encodeURIComponent(this.email);
      const passwordBody = encodeURIComponent(this.password);
      const bodyContent = `grant_type=password&email=${emailBody}&password=${passwordBody}`;

      const responseLogin = await fetch('http://localhost:3000/api/token', {
        method: 'POST',
        body: bodyContent,
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      });

      if (responseLogin.ok) {
        const dataLogin = await responseLogin.json();
        this.$store.dispatch('storeToken', dataLogin.token);
        console.log(this.$store.state.token);
        const decoded = VueJwtDecode.decode(this.$store.state.token);
        console.log(decoded);
        this.$store.dispatch('storeUserId', decoded.userID);
        this.$router.push({
          name: 'Redirection',
          params: {
            message: 'Vous etes connecté! Vous allez être redirigé!',
            name: 'Home',
          },
        });

        this.loginModal = false;
      } else {
        this.messageError = 'Nom d\'utilisateur ou mot de passe incorrect';
      }
    },
  },
};
</script>
