<template>
  <div>
    <div class="navbar-end" v-if="!this.$store.state.token">
      <!-- Link pour ouvrir le Modal Login / Sign Up -->
        <a class="navbar-item" id="loginAnchor" @click="openModal">Login</a>
        <ModalLogin ref="modal"></ModalLogin>
        <router-link class="navbar-item" to="/SignUp">Sign Up</router-link>
    </div>
    <div class="navbar-end" v-else>
      <!-- Link pour afficher le Profile -->
      <a class="navbar-item" id="logoutAnchor" @click="logOut">Log out</a>
      <router-link id="profilAnchor" class="navbar-item" to="/Profil">Profil</router-link>
    </div>
  </div>
</template>

<script>
import ModalLogin from './ModalLogin.vue';

export default {
  name: 'NavBar',
  components: {
    ModalLogin,
  },
  methods: {
    openModal() {
      this.$refs.modal.showModalLogin();
    },
    logOut() {
      this.$store.dispatch('storeToken', null);
      this.$store.dispatch('storeUserId', null);
      this.$router.push({
        name: 'Redirection',
        params: {
          message: 'Vous avez été déconnecté. Vous allez être redirigé!',
          name: 'Home',
        },
      });
    },
  },
};
</script>
