<template>
  <div class="field-body">
    <div class="field has-addons">
      <div class="control">
        <input style="width:22rem" class="input is-medium"
        type="text" placeholder="Reserch" v-model="filterResearch">
      </div>
      <div class="control">
        <span class="select is-medium">
          <select id="selectGenre" v-model="filterGenre">
            <option value="Genres">Genres</option>
            <option v-for="g in Genres" v-bind:key="g.id_genre"
            v-bind:value="g.id_genre">{{ g.genre_name}}</option>
          </select>
        </span>
      </div>
      <div class="control">
        <button class="button is-medium" v-on:click="research()">
          <img src="/images/magnify.png">
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',

  data() {
    return {
      Genres: null,
      filterResearch: null,
      filterGenre: 'Genres',
    };
  },
  watch: {
    $data: {
      handler(newValue) {
        // console.log(`Current vaules:${newValue.FirstName} ${newValue.LastName}`);
        this.filterResearch = newValue.filterResearch;
        this.filterGenre = newValue.filterGenre;
      },
      deep: true,
    },
  },
  mounted() {
    this.refreshDataGenre();
  },
  methods: {
    async refreshDataGenre() {
      const response = await fetch('http://localhost:3000/api/genres');
      if (response.ok) {
        const data = await response.json();
        this.Genres = data.Genres;
      } else {
        console.log(response.statusText);
      }
    },
    async research() {
      this.$router.push({ path: `/ListeJeux/${this.filterResearch}/${this.filterGenre}`, params: { Recherche: this.filterResearch, Genre: this.filterGenre } })
        .catch(() => { /** Do nothing */ });
      this.filterResearch = null;
      this.filterGenre = 'Genres';
    },
  },
};
</script>
