<template>
  <div class="container">
    <!-- Affichage des Détails du Jeu -->
    <div v-if="jeu">
      <div class="section">
        <div class="column is-10">
          <div class="card">
            <div class="card-content">
              <div class="columns">
                <div class="column is-7">
                  <div class="media-content">
                    <p class="title is-2 mt-2 ml-4">{{ jeu.game_name }}</p>
                    <p class="subtitle is-3 has-text-success ml-4 mb-2">{{ jeu.game_price }}</p>
                  </div>
                </div>
              </div>
              <!-- Générer l'Image du Jeu -->
              <div class="columns">
                <div class="column">
                  <div class="media-content ml-4" id="image">
                    <figure class="image taille">
                      <img :src="generateImage()" alt="Jeu image">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Affichage des Informations du Proprietaire et de ses exigences -->
      <div v-if="proprietaire">
        <div class="section">
          <div class="column is-10">
            <div class="card">
              <div class="card-content">
                <div class="columns">
                  <div class="column">
                    <div class="media-content mt-6 ml-6 mb-6">
                      <p class="title is-2 mt-2 ml-4">
                        Nom du proprietaire: {{ proprietaire.first_name }}
                        {{ proprietaire.last_name }}</p>
                      <p class="subtitle is-3 has-text-success ml-4 mb-2">
                        Date de remise: {{ proprietaire.due_date }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form id="commanderForm" @submit="commander()" enctype="multipart/form-data" method="POST">
        <router-link v-bind:to="{ name: 'Profil' }">
          <button id="btnCommande" class="button is-primary"
          :disabled="invalid" type="submit">Commander</button>
        </router-link>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Commande',
  data() {
    return {
      jeu: null,
      proprietaire: null,
      Images: null,
    };
  },
  props: ['idGame', 'idOwner'],
  async mounted() {
    this.RefreshData();
  },
  methods: {
    async RefreshData() {
      const response = await fetch(`http://localhost:3000/api/commande/${this.idGame}/${this.idOwner}`);
      if (response.ok) {
        const data = await response.json();
        this.jeu = data.Game;
        this.proprietaire = data.Proprietaire;
        this.Images = data.Images;
      } else {
        console.log(response.statusText);
      }
    },
    generateImage() {
      const image = this.Images;
      if (!image) {
        return '/images/No_Cover.png';
      }
      return `/images/${image.imgURL}.png`;
    },
    async commander() {
      const response = await fetch(`http://localhost:3000/api/commande/${this.idGame}/:${this.idOwner}`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          no_commande: this.jeu.game_name,
          id_user: Number(this.$store.state.userID),
          id_game: this.idGame,
          id_owner: this.idOwner,
        }),
      });
      if (response.ok) {
        console.log('success');
        this.$router.push('/:idGame/:idOwner');
      }
    },
  },
};
</script>
