<template>
  <!-- Affichage des Détails du Jeu -->
  <div v-if="jeu">
    <div class="container">
      <div class="section">
        <div class="column is-10">
          <div class="card">
            <div class="card-content">
              <div class="columns">
                <div class="column is-7">
                  <div class="media-content">
                    <p class="title is-2 mt-2 ml-4">{{ jeu.game_name }}</p>
                    <p class="subtitle is-3 has-text-success ml-4 mb-2">{{ jeu.game_price }}</p>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <!-- Affichage de l'Image du Jeu -->
                  <div class="media-content ml-4" id="image">
                    <figure class="image taille">
                      <img :src="generateImage()" alt="Jeu image">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="media-content mt-6 ml-6 mb-6">
                <p class="subtitle is-3">Description</p>
                <p>{{ jeu.game_description }}</p>
              </div>
              <section v-if="this.$store.state.token">
              <!-- Affichage des Proprietaires du Jeu -->
              <div class="columns row-one is-centered">
                <div class="column is-3" v-if="ListeProprietaire">
                  <div v-for="proprietaire in ListeProprietaire" v-bind:key="proprietaire.id_owner">
                    <router-link v-bind:to="{ name: 'Commande',
                      params: { idGame: jeu.id_game, idOwner: proprietaire.id_owner } }">
                      Nom du proprietaire:{{ proprietaire.first_name }}
                      {{ proprietaire.last_name }},
                      Date de remise: {{ proprietaire.due_date }}
                    </router-link>
                  </div>
                </div>
              </div>
              <!-- Création d'un propriétaire -->
              <form autocomplete="on" id="ownerForm" @submit.prevent="createOwner()"
              enctype="multipart/form-data" method="POST">
                <div class="columns row-one is-centered">
                  <div class="column is-3">
                    <label class="label">
                      Combien de format possèdez-vous dont vous désirer partager
                      </label>
                    <input v-model.number="leftQuantity" type="number">
                  </div>
                  <div class="column is-3">
                    <label class="label">Choisissez la date de remise</label>
                    <input v-model="dueDate" type="date">
                  </div>
                  <div class="column is-3">
                    <div class="control">
                      <button id="btnAddOwner" class="button is-primary"
                      type="submit">Ajouter Proprietaire</button>
                    </div>
                  </div>
                </div>
              </form>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DetailsJeu',
  data() {
    return {
      jeu: null,
      Images: null,
      ListeProprietaire: null,
      leftQuantity: null,
      dueDate: null,
    };
  },
  props: ['id'],
  async mounted() {
    await this.refreshDataJeu();
  },
  methods: {
    async refreshDataJeu() {
      const response = await fetch(`http://localhost:3000/api/gameDetails/${this.id}`);
      if (response.ok) {
        const data = await response.json();
        this.jeu = data.Game;
        this.Images = data.Images;
        this.ListeProprietaire = data.Proprietaire;
      } else {
        console.log(response.statusText);
      }
    },
    generateImage() {
      const image = this.Images;
      if (!image) {
        return '/images/No_Cover.png';
      }
      return `/images/${image.imgURL}.png`;
    },
    async createOwner() {
      const response = await fetch(`http://localhost:3000/api/gameDetails/${this.id}`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          left_quantity: this.leftQuantity,
          due_date: this.dueDate,
          id_user: Number(this.$store.state.userID),
        }),
      });
      if (response.ok) {
        this.$router.push('/:id');
      }
    },
  },
};
</script>

<style scoped>
.taille{
  width: 480px;
  height: 480px;
}
.card{
      background-image: linear-gradient( rgb(247, 246, 187),white);
}
</style>
