<template>
  <!-- Affichage des Developpeurs de Jeu -->
  <div>
    <section class="section">
      <div class="container">
        <p class="title is-3 has-text-centered">Développeurs</p>
      </div>
    </section>
    <section class="section">
      <div class="row columns is-multiline is-centered">
        <div class="box column is-8"
        style="margin: 20px;"
        v-for="dev in Developpeurs"
        v-bind:key="dev.id_developper"
        v-bind:value="dev.id_developper">
        <!-- Link pour afficher les Jeux selon le Développeur choisie -->
        <router-link :to="{name: 'JeuxDeveloppeur', params: {idDeveloppeur: dev.id_developper} }">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img :src="generateImage(dev)" alt="Développeur image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="title is-3 has-text-centered"> {{dev.developper_name}} </p>
              </div>
            </div>
          </div>
        </router-link>
      </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  name: 'Developpeurs',
  data() {
    return {
      Developpeurs: null,
      images: null,
    };
  },
  mounted() {
    this.RefreshDataDeveloppeurs();
  },
  methods: {
    async RefreshDataDeveloppeurs() {
      const response = await fetch('http://localhost:3000/api/developpers');
      if (response.ok) {
        const data = await response.json();
        this.Developpeurs = data.Developpers;
        this.images = data.Images;
      } else {
        console.log(response.statusText);
      }
    },
    generateImage(Developpeurs) {
      try {
        const image = this.images.find((img) => img.imgURL === Developpeurs.developper_name);
        if (!image) {
          return '/images/No_Cover.png';
        }
        return `/images/${image.imgURL}.png`;
      } catch (error) {
        return error;
      }
    },
  },
};
</script>
