<template>
  <!-- Affichage des Genres de Jeu -->
    <div>
      <section class="section">
        <div class="container">
        <p class="title is-3 has-text-centered">Genres</p>
        </div>
      </section>
    <section class="section">
      <div class="row columns is-multiline is-centered">
        <div class="box column is-8"
        style="margin: 20px;"
        v-for="genre in Genres"
        v-bind:key="genre.id_genre"
        v-bind:value="genre.id_genre">
        <!-- Link pour afficher les Jeux selon le Genre choisie -->
        <router-link :to="{name: 'JeuxGenre', params: {idGenre: genre.id_genre} }">
              <div class="media">
                <div class="media-left">
              </div>
                <div class="media-content">
                  <div class="content">
                    <p class="title is-3" style="text-align: center;"> {{genre.genre_name}} </p>
                  </div>
                </div>
              </div>
            </router-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  name: 'Genres',
  data() {
    return {
      Genres: null,
    };
  },
  mounted() {
    this.RefreshDataGenres();
  },
  methods: {
    async RefreshDataGenres() {
      const response = await fetch('http://localhost:3000/api/genres');
      if (response.ok) {
        const data = await response.json();
        this.Genres = data.Genres;
      } else {
        console.log(response.statusText);
      }
    },
  },
};
</script>
<style scoped>
.box {
    background-image: linear-gradient(to right, white, rgb(247, 246, 187));

}
</style>
