<template>
  <div>
    <div>
      <section class="section">
        <div class="container">
          <p class="title is-3 has-text-centered">Liste des jeux</p>
        </div>
      </section>
      <section v-if="ListeJeux.length === 0" class="section">
        <div class="container">
          <p class="title is-3 has-text-centered is-uppercase">
             Sorry but there's no games :(
               </p>
          </div>
      </section>
      <section class="section">
        <div class="container">
          <!-- Affichage des Jeux -->
          <div class="columns" v-for="jeu in ListeJeux"
                v-bind:key="jeu.id_game">
            <div v-if="jeu" class="column is-12">
              <!-- Link pour afficher les Details du Jeu sélectionné -->
              <router-link v-bind:to="{ name: 'DetailsJeu', params: { id: jeu.id_game } }">
                <div class="card">
                  <div class="card content">
                  <div class="media">
                    <div class="media-left">
                      <!-- Affichage des Images des Jeux -->
                      <figure class="image is-128x128">
                        <img :src="generateImage(jeu)" alt="Jeu image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                          <p class="title is-3">{{jeu.game_name}}</p>
                      </div>
                  <div class="card-body text-center" style="max-heigth: 210px">
                    <div>
                      <p class="subtitle is-3 has-text-success ml-4 mb-2">{{ jeu.game_price }} $</p>
                    </div>
                  </div>
                  </div>
                  </div>
                </div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>

export default {
  name: 'JeuxPlateforme',
  data() {
    return {
      ListeJeux: [],
      data: null,
      images: null,
      error: false,
    };
  },
  watch: {
    $route() {
      this.refreshDataListeJeux();
    },
  },
  props: ['idPlateforme'],
  methods: {
    async refreshDataListeJeux() {
      console.log(this.idPlateforme);
      const response = await fetch(`http://localhost:3000/api/gamesPlatform/${this.idPlateforme}`);
      if (response.ok) {
        this.data = await response.json();
        this.ListeJeux = this.data.Games;
        this.images = this.data.Images;
      } else {
        console.log(response.statusText);
      }
    },
    generateImage(jeu) {
      try {
        const image = this.ListeJeux.find((img) => img.id_game === jeu.id_game);
        if (!image) {
          return '/images/No_Cover.png';
        }
        return `/images/${image.img_game}.png`;
      } catch (error) {
        return error;
      }
    },
  },
  mounted() {
    this.refreshDataListeJeux();
  },
};
</script>
