<template>
  <div>
    <section class="section">
      <div class="container">
        <p class="title is-3 has-text-centered">Plateformes</p>
      </div>
    </section>
    <section class="section">
      <!-- Affichage des Platformes -->
      <div class="row columns is-multiline is-centered">
        <div class="box column is-8"
        style="margin: 20px;"
        v-for="p in Platformes"
        v-bind:key="p.id_platforms"
        v-bind:value="p.id_platforms">
          <!-- Link pour afficher les Jeux selon la Platforme choisie -->
          <router-link :to="{name: 'JeuxPlateforme', params: {idPlateforme: p.id_platforms} }">
            <div class="media">
              <div class="media-left">
                <!-- <figure class="image is-128x128">
                  <img :src="generateImage(p)" alt="Platforme image">
                </figure> -->
              </div>
              <div class="media-content">
                <div class="content">
                  <p class="title is-3" style="text-align: center;"> {{p.platforms_name}} </p>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  name: 'Platformes',
  data() {
    return {
      Platformes: null,
      images: null,
    };
  },
  mounted() {
    this.RefreshDataPlateformes();
  },
  methods: {
    async RefreshDataPlateformes() {
      const response = await fetch('http://localhost:3000/api/platforms');
      if (response.ok) {
        const data = await response.json();
        this.Platformes = data.Platforms;
        this.images = data.Images;
      } else {
        console.log(response.statusText);
      }
    },
    // generateImage(Platformes) {
    //   try {
    //     const image = this.images.find((img) => img.imgURL === Platformes.platforms_name);
    //     if (!image) {
    //       return '/images/No_Cover.png';
    //     }
    //     return `/images/${image.imgURL}.png`;
    //   } catch (error) {
    //     return error;
    //   }
    // },
  },
};
</script>
<style scoped>
.box {
    background-image: linear-gradient(to right, white, rgb(247, 246, 187));

}
</style>
