<template>
  <!-- Affichage du profil de l'utilisateur -->
  <div class="container" v-if="user">
    <div class="title is-3 has-text-centered">Profil</div>
    <div class="title is-2 has-text-centered" v-bind:style="{ color: 'red' }">{{ msgError }}</div>
    <br>
    <br>
    <br>
    <section>
    <ValidationObserver v-slot="{ invalid, validate }">
    <form autocomplete="on" id="userForm" @submit.prevent="validate().then(updateUser)"
    enctype="multipart/form-data" method="PUT">
    <div class="field" >
      <!-- Input pour le Prénom de l'Utilisateur -->
    <div class="columns row-one is centered">
      <div class="column is-6">
        <label class="label">First Name</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="firstName"
              type="text"
              class="input"
              required
              name="first name"
              v-model="firstName"
            >
            <span class="error"  style="color:red">{{ errors[0] }}</span>
            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="images\user.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour le Nom de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Last Name</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="lastName"
              type="text"
              placeholder="Doe"
              class="input"
              required
              name="last name"
              v-model="lastName"
            />
                            <span class="error">{{ errors[0] }}</span>

            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/user.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour l'Adresse de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Address</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="address"
              type="text"
              class="input"
              required
              name="address"
              v-model="address"
            />
                            <span class="error">{{ errors[0] }}</span>

            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/home.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour le Numéro de téléphone de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Phone Number</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="phoneNumber"
              type="tel"
              placeholder="555-555-5555"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              minlength="12"
              maxlength="12"
              class="input"
              required
              name="phone Number"
              v-model="phoneNumber"
            />
            <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/phone-call.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour l'Email de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required|email" v-slot="{ errors }">
            <input
              id="email"
              type="email"
              placeholder="johndoe@email.com"
              class="input"
              autocomplete="email"
              required
              name="email"
              v-model="email"
            />
                <span class="error">{{ errors[0] }}</span>

            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/email.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour le Mot de passe de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">New Password</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" vid="confirm" v-slot="{ errors }">
            <input
              id="password"
              type="password"
              placeholder="******"
              class="input"
              required
              name="password"
              v-model="password"
            />
                <span class="error">{{ errors[0] }}</span>
              </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/lock.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour la Confirmation du Mot de passe de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Confirm Password</label>
          <div class="control has-icons-left">
          <ValidationProvider rules="required|confirmed:confirm" v-slot="{ errors }">
            <input
              id="password2"
              type="password"
              placeholder="******"
              class="input"
              required
              name="password"
              v-model="password2"
            >
                <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/lock.png" alt="" />
            </span>
          </div>
      </div>
  </div>
        <!-- Bouton qui permet de Update les informations de l'Utilisateur -->
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="control">
              <button id="btnSignUp" class="button is-primary" :disabled="invalid"
              type="submit">Update</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    </ValidationObserver>
    </section>
    <section v-if="userHistory">
    <div class="media-content mt-6 ml-6 mb-6">
      <div>
        <h3>Historique:</h3>
      </div>
      <div v-for="history in userHistory" v-bind:key="history.id_user">
        <label class="label">
          Nom du jeu: {{ history.game_name }}, Statut: {{ history.history_status}}
          </label>
    </div>
  </div>
  </section>
  </div>
  <div v-else>
    <p class="title is-3 has-text-centered is-uppercase">
      Sorry there is an issue :(
    </p>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate';
import {
  required, email, confirmed,
} from 'vee-validate/dist/rules';

extend('confirmed', {
  ...confirmed,
  message: 'Passwords are not the same',
});
extend('email', {
  ...email,
  message: 'Please enter a valid email',
});

extend('required', {
  ...required,
  message: 'Please enter a valid {_field_}',
});
export default {
  name: 'Profil',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      userHistory: null,
      user: null,
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      password2: '',
      address: '',
      phoneNumber: '',
      msgSucess: '',
      msgError: '',
    };
  },
  async mounted() {
    this.isLoggedIn();
    this.getUser();
  },
  watch: {
    // handler(val) {
    //   this.form = {
    //     firstName: val.first_name,
    //     lastName: val.lastName,
    //     email: val.email,
    //     password: val.gender,
    //     password2: '',
    //     address: val.gender,
    //     phoneNumber: val.gender,

    //   };
    // },
  },

  methods: {
    isLoggedIn() {
      if (this.$store.state.token === null) {
        this.$router.push('/:id');
      }
    },
    async getUser() {
      const responseUser = await fetch(`http://localhost:3000/api/profil/${this.$store.state.userID}`);
      if (responseUser.ok) {
        const data = await responseUser.json();
        this.user = data.User;
        this.firstName = this.user.first_name;
        this.lastName = this.user.last_name;
        this.email = this.user.email;
        this.address = this.user.adress;
        this.phoneNumber = this.user.phone_number;
        this.userHistory = data.History;
      } else {
        console.log(responseUser.statusText);
      }
    },
    async updateUser() {
      if (this.password === this.password2) {
        const responseUpdate = await fetch(`http://localhost:3000/api/profil/${this.$store.state.userID}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.$store.state.token}`,
          },
          body: JSON.stringify({
            idUpdate: Number(this.$store.state.userID),
            firstNameUpdate: this.firstName,
            lastNameUpdate: this.lastName,
            emailUpdate: this.email,
            passwordUpdate: this.password2,
            adressUpdate: this.address,
            phoneNumberUpdate: this.phoneNumber,
          }),
        });

        if (responseUpdate.ok) {
          this.$router.push('/');
        } else {
          this.msgError = 'Email already used';
        }
      } else this.msgError = 'The passords need to match';
    },
  },
};
</script>
