<template>
  <div>
    <section class="section">
      <div class="container">
        <h3 class="title is-3 has-text-centered">{{message}}</h3>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Redirection',
  props: ['message', 'path'],
  data() {
    return {
      countDown: 10,
    };
  },

  created() {
    setTimeout(() => this.$router.push({ name: 'Home' }), 3000);
  },
};
</script>

<style scoped>

</style>
