<template>
<div class="container">
  <p class="title is-3 has-text-centered">Sign Up</p>
  <br>
  <br>
  <br>
  <ValidationObserver v-slot="{ invalid, validate }">
  <form id="signUpForm" method="POST" enctype="multipart/form-data"
        @submit.prevent="validate().then(createUser)">
    <div class="field" >
      <!-- Input pour le Prénom de l'Utilisateur -->
    <div class="columns row-one is centered">
      <div class="column is-6">
        <label class="label">First Name</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="firstName"
              type="text"
              placeholder="John"
              class="input"
              required
              name="first name"
              v-model="firstName"
            />
                            <span class="error"  style="color:red">{{ errors[0] }}</span>

            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="images\user.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour le Nom de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Last Name</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="lastName"
              type="text"
              placeholder="Doe"
              class="input"
              required
              name="last name"
              v-model="lastName"
            />
                            <span class="error">{{ errors[0] }}</span>

            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/user.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour l'Adresse de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Address</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="address"
              type="text"
              class="input"
              required
              name="address"
              v-model="address"
            />
                            <span class="error">{{ errors[0] }}</span>

            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/home.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour le Numéro de téléphone de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Phone Number</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              id="phoneNumber"
              type="tel"
              placeholder="555-555-5555"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              minlength="12"
              maxlength="12"
              class="input"
              required
              name="phone Number"
              v-model="phoneNumber"
            />
            <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/phone-call.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour l'Email de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <ValidationProvider rules="required|email" v-slot="{ errors }">
            <input
              id="email"
              type="email"
              placeholder="johndoe@email.com"
              class="input"
              autocomplete="email"
              required
              name="email"
              v-model="email"
            />
                <span class="error">{{ errors[0] }}</span>

            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/email.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour le Mot de passe de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Password</label>
          <div class="control has-icons-left">
              <ValidationProvider  vid="confirm" rules="required" v-slot="{ errors }">
            <input
              id="password"
              type="password"
              placeholder="******"
              class="input"
              required
              name="password"
              v-model="password"
            />
                <span class="error">{{ errors[0] }}</span>

              </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/lock.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Input pour la Confirmation du Mot de passe de l'Utilisateur -->
        <div class="columns row-one is centered">
      <div class="column is-6">
          <label class="label">Confirm Password</label>
          <div class="control has-icons-left">
          <ValidationProvider rules="required|confirmed:confirm" v-slot="{ errors }">
            <input
              id="passwordconfirmed"
              type="password"
              placeholder="******"
              class="input"
              required
              name="password"
              v-model="passwordconfirmed"
            />
                <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <span class="icon is-small is-left">
              <img src="/images/lock.png" alt="" />
            </span>
          </div>
      </div>
    </div>
    <!-- Bouton qui permet de Create un Utilisateur dans la Database -->
            <div class="columns is-centered">
          <div class="column is-6">
            <div class="control">
              <button id="btnSignUp" class="button is-primary"
                      :disabled="invalid" type="submit">Register
              </button>
            </div>
          </div>
        </div>
        <br>
  </div>
  </form>
  </ValidationObserver>
</div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate';
import {
  required, email, confirmed,
} from 'vee-validate/dist/rules';

extend('confirmed', {
  ...confirmed,
  message: 'Passwords are not the same',
});
extend('email', {
  ...email,
  message: 'Please enter a valid email',
});

extend('required', {
  ...required,
  message: 'Please enter a valid {_field_}',
});
export default {
  name: 'ModalSignUp',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      signUpModal: false,
      email: '',
      password: '',
      phoneNumber: '',
      firstName: '',
      lastName: '',
      address: '',
      passwordconfirmed: '',
      messageError: '',
    };
  },
  methods: {
    showModalSignUp() {
      this.signUpModal = true;
    },
    openModalLogin() {
      this.$refs.modalLogin.showModalLogin();
    },
    async createUser() {
      if (this.password === this.passwordconfirmed) {
        const response = await fetch('http://localhost:3000/api/signup', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            first_name: this.firstName,
            last_name: this.lastName,
            email: this.email,
            password: this.password,
            adress: this.address,
            phone_number: this.phoneNumber,
          }),
        });
        if (response.ok) {
          this.$router.push('/');
        }
      } else this.messageError = 'The passords need to match';
    },
  },
};
</script>

<style scoped>

</style>
